<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let sp of serviceProviders">
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ sp.name }} {{ sp.surname }}</ion-card-title>
            <ion-card-subtitle>{{ sp.services }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let imageUrl of sp.imageUrls">
                  <ion-img [src]="imageUrl"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
            <p><strong>Email:</strong> {{ sp.email }}</p>
            <p><strong>Phone Number:</strong> {{ sp.phoneNumber }}</p>
            <p><strong>Location:</strong> {{ sp.location }}</p>
            <!-- Button to open modal -->
            <ion-button expand="block" (click)="openServiceRequestModal(sp)">Request Service</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
